<div class="display-container">
  <div class="display-container-title">
    <h2>Display preview</h2>
  </div>

  <div class="display" id="display">
    <ul class="display-events">
      <% if (calendar.events.length > 0) { %>
        <% calendar.events.forEach(event => { %>
          <li class="display-events__item">
            <strong>
              <%= event.summary %>
            </strong>
            <time datetime="<%= event.start %>">
              <%= event.start %>
            </time>
          </li>
        <% }) %>
      <% } else { %>
        <li>
          Žádné nadcházející události
        </li>
      <% } %>
    </ul>

    <span class="display-weather">
      <% if (weather.success) { %>
        <%= weather.data.current.temperature_2m %>&nbsp;<%= weather.data.current_units.temperature_2m %>
      <% } else { %>
        <%= weather.error || "-" %>
      <% } %>
    </span>

    <span class="display-timestamp">
      <%= timestamp %>
    </span>
  </div>
</div>
